In [13]:
import pandas as pd
import numpy as np 
import seaborn as sns 
from matplotlib import pyplot as plt 
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
data = pd.read_csv('/content/mail_data.csv')

In [3]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data.shape

(5572, 2)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
data.describe().T

         count unique                     top  freq
Category  5572      2                     ham  4825
Message   5572   5157  Sorry, I'll call later    30

In [7]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [9]:
data.replace({"Category":{'spam':1,'ham':0}},inplace = True)

In [10]:
data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [15]:
X = data['Message']
Y = data['Category']

In [17]:
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int64

In [18]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,random_state = 1)

In [19]:
print(X.shape,X_train.shape,X_test.shape)

(5572,) (4457,) (1115,)

In [20]:
encoder = TfidfVectorizer(min_df=1,stop_words="english")

In [38]:
train_transform = encoder.fit_transform(X_train)

In [24]:
test_transfrom = encoder.transform(X_test)

In [25]:
print(train_transform)

  (0, 4346)	0.3238008504874723
  (0, 2353)	0.2545072203817634
  (0, 6695)	0.3616065178053154
  (0, 5895)	0.415102954745324
  (0, 2719)	0.299459437576315
  (0, 3822)	0.37729728742748087
  (0, 3789)	0.4750235197588447
  (0, 3321)	0.2638802854739516
  (1, 4343)	0.6555659308129219
  (1, 1858)	0.5163195438969705
  (1, 3365)	0.5510421389942982
  (2, 4267)	0.531599749449541
  (2, 6215)	0.43979370278404856
  (2, 6597)	0.40097414833733686
  (2, 5672)	0.32606636481997364
  (2, 3025)	0.3502912545366897
  (2, 3185)	0.3663054742561573
  (3, 4447)	0.18080236341909536
  (3, 3084)	0.14346439189216004
  (3, 2877)	0.30030357190007717
  (3, 5515)	0.16439483489485024
  (3, 6922)	0.13381964389308706
  (3, 7080)	0.19700844583868773
  (3, 5535)	0.30030357190007717
  (3, 7398)	0.19877707762085306
  :	:
  (4454, 397)	0.31848634658760416
  (4454, 4027)	0.2561192223695296
  (4454, 6409)	0.2511086901671169
  (4454, 7382)	0.23350338191116915
  (4454, 4578)	0.28626353932821713
  (4455, 6600)	0.3164025961524856
  (4455, 2805)	0.3016723549044074
  (4455, 5425)	0.2831144456705363
  (4455, 4948)	0.291221082414565
  (4455, 365)	0.2708906633533937
  (4455, 860)	0.2544703850602943
  (4455, 5684)	0.2831144456705363
  (4455, 3721)	0.22464478145066644
  (4455, 4284)	0.18993177207181944
  (4455, 4473)	0.18061588089155375
  (4455, 313)	0.20494254942428108
  (4455, 5821)	0.2292888713223737
  (4455, 260)	0.23097890836739493
  (4455, 2124)	0.2386556082002209
  (4455, 6681)	0.1644718719525843
  (4455, 6546)	0.1617993994273865
  (4455, 3759)	0.13547655899979386
  (4455, 5515)	0.17320790500652877
  (4456, 6025)	0.6984641956538138
  (4456, 1703)	0.7156450009534552

In [26]:
print(test_transfrom)

  (0, 7406)	0.7202901083692191
  (0, 5207)	0.693672948719682
  (1, 7408)	0.39146814311442063
  (1, 5220)	0.4705918182872853
  (1, 4400)	0.5934443291757167
  (1, 4191)	0.3895427356578373
  (1, 3071)	0.3483910428713775
  (2, 7181)	0.7357795587192053
  (2, 994)	0.6772211167491541
  (3, 3259)	1.0
  (4, 7336)	0.3056500641731669
  (4, 7100)	0.18546351525534188
  (4, 6030)	0.5868928485020234
  (4, 5925)	0.3163109675928492
  (4, 5196)	0.33058431450158204
  (4, 3951)	0.2762463598251023
  (4, 2854)	0.2623110272820492
  (4, 2093)	0.19907660636915728
  (4, 1604)	0.2934464242510117
  (4, 1067)	0.2180322556038374
  (5, 7120)	0.41930198660651424
  (5, 7095)	0.47776118013894237
  (5, 6602)	0.4818760834807631
  (5, 4743)	0.33583035252339755
  (5, 3101)	0.3500213296091081
  :	:
  (1111, 2886)	0.11453235557068618
  (1111, 2761)	0.18749587684632552
  (1111, 2652)	0.4776476584652413
  (1111, 2540)	0.36360411501974377
  (1111, 2067)	0.2044709693034356
  (1111, 1873)	0.19469034463818594
  (1111, 1002)	0.1695641172846675
  (1111, 692)	0.22770529650512397
  (1111, 354)	0.23882382923262066
  (1111, 346)	0.22770529650512397
  (1111, 70)	0.23882382923262066
  (1112, 7416)	0.35668207768327437
  (1112, 6940)	0.4013881537648428
  (1112, 6634)	0.41288735388494413
  (1112, 5401)	0.34019679210398324
  (1112, 4573)	0.2612062549945248
  (1112, 3662)	0.4990767545934978
  (1112, 3025)	0.32886061864716865
  (1114, 7397)	0.3194962937300205
  (1114, 6607)	0.42274337683139135
  (1114, 6194)	0.4475220509477496
  (1114, 4035)	0.2502028994570357
  (1114, 2353)	0.2851630408099277
  (1114, 1805)	0.4091066884243912
  (1114, 1641)	0.45568238532913335

In [27]:
model = LogisticRegression()

In [28]:
model.fit(train_transform,Y_train)

LogisticRegression()

In [29]:
train_predict = model.predict(train_transform)

In [33]:
test_predict = model.predict(test_transfrom)

In [34]:
accuracy_score(Y_train,train_predict)

0.9681400044873233

In [35]:
accuracy_score(Y_test,test_predict)

0.9704035874439462

In [37]:
input_data = ["As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune"]
in_array_data = np.array(input_data)
encoder_data = encoder.transform(in_array_data)
reshape_data = encoder_data.reshape(1,-1)
prediction = model.predict(reshape_data)
if prediction[0]==1:
  print('it is a spam mail')
else:
  print("it is a ham mail")

it is a ham mail